/* escapeRoom.css */

/* Styling for the main pane */
#room {}

/* Styling for the label */
#room Label {}

/* Styling for the rectangles (items) */
#room Rectangle {}

/* Styling for the buttons */
#room Button {}

/* Styling for the progress indicator */
#room ProgressIndicator {}

.progress-indicator .percentage {
    -fx-fill: null;
}

/* Styling for the image views */
#room ImageView {}

/* Styling for the key button */
#room Button#key {}

#room Button#btnYogaBall {}

#room Rectangle#door:hover {}

#room Button#btnYogaBall:hover {
    -fx-opacity: 1.0;
    -fx-background-color: #ffc107;
    /* Change this to the desired background color */
    -fx-pref-height: 110.0;
    /* Increase the height when hovered */
    -fx-pref-width: 142.0;
    /* Increase the width when hovered */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 2, 2);
}

/* Styling for the VBox */
#room VBox {}

/* Styling for the door rectangle */
#room Rectangle#door {}